footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
  
footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
  
footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.carouselText {
  color: white;
  font-family: "Roboto Condensed" !important;
  font-size: 1.4rem;
  font-weight: 300;
}

.carouselTextSmall {
  color: white;
  font-family: "Roboto Condensed" !important;
  font-size: 1rem;
  font-weight: 200;
}

.form-rounded {
  border-radius: 1rem;
}

.image-rounded {
  border-radius: 0.8rem;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.customBtn {
  width: 40px !important;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
  background-color: #7395AE;
  border-radius: 0.5rem;
}*/